.content{
    margin: 150px 10%;
    width: 80%;
    height: 100%;
    min-height: 800px;
    border-radius: 5px;
    border-style: ridge;
}
.product-image{
    float: left;
    margin: 20px 5%;
    width: 40%;
    height: 750px;
    /* background-color: black; */
   
}
.product-image img{
    width: 100%;
    aspect-ratio: 1 / 1.3; 
}
.information{
    float: right;
    margin: 20px 5%;
    width: 40%;
    height: 750px;
}
.upper, .bottom{
    float: right;
    width: 100%;
    height: 200px;
}
.bottom{
    height: 300px;
}
.upper h1{
    font-size: 20px !important;
}
.upper p{
    font-size: 15px;
    font-weight: 100;
}
.upper_left, .upper_right{
    float: left;
    width: 50%;
}

.upper_right button{
    display: inline-block;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: rgb(50, 81, 235);
    border-style: ridge;
    border-color: white;
    color: white;
    cursor: pointer;
}
.upper_right button:hover{
    background-color:aliceblue;
    color: rgb(50, 81, 235);
}
.bottom img{
    aspect-ratio: 1/1.3;
    width: 70%;
}
.comment{
    margin: 5% 15%;
    width: 70%;
    border-radius: 5px;
    border-style: ridge;
    border-color: antiquewhite;
}
.comment h2{
    text-align: center;
}
.comment_row{
    margin: 0px 10px;
    margin-bottom: 40px ;
}

.user_name_div{
    width: 90%;
    height: 30px;
}
.user_name{
    float: left;
    margin-left: 0% !important;
    color: cornflowerblue;
}
.com-str{
    float: none;
}
.time{
    float: left;
    font-size: 12px;
    margin-left: 10px !important;
}
.comment_row p{
    margin-bottom: 10px;
}
.comment_row img{
    float: left;
    background-image: cover;
    width: 55px;
    aspect-ratio: 1/1;
    margin-right: 20px;
}
.UserComment{
    margin-top: 5%;
    margin-left: 5%;
}
.sign_in{
    margin-top: 5%;
    margin-left: 5%;
}
.sign_in a{ 
    color: rgb(50, 81, 235);
    cursor: pointer;
}
.UserComment p{
    display: block;
    float: left;
    padding-top: 30px;
    font-size: 30px;
}
.UserComment input{
    float: left;
    width: 80%;
    height: 30px;
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 30px;
    font-size: 20px;
}
.UserComment button{
    float: left;
    display: block;
    height: 30px;
    width: 60px;
    font-size: 25px;
    font-weight: 400;
    color: blue;
    border-radius: 5px;
    border-style: ridge;
    border-color: aliceblue;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.UserComment button:hover{
    color: white;
    background-color:rgb(50, 81, 235);
}