.dMother_div{
    padding: 0%;
    margin: 0%;
    float: left;
    padding-left: 10px;
}

.box{
    border-style:solid;
    border-color: rgb(69, 169, 169);
    float: left;
    width: 250px;
    height: 120px;
    background-color: rgb(69, 169, 169);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}
.box p{
    font-size: 20px;
    text-align: center;
    color: azure;
}
.box:hover p{
    
    color:  rgb(69, 169, 169);
}
.box:hover{
    cursor: pointer;
    background-color: white;
}
@media screen and (min-width: 1501px){
    div.dMother_div{
        width: 1200px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px){
    div.dMother_div{
        width: 900px;
    }
    
}
@media screen and (max-width: 1200px) and (min-width: 851px){
    div.dMother_div{
        width: 600px;
    }
    
}

@media screen and (max-width: 850px) and (min-width : 601px){
    div.dMother_div{
        width: 300px;
    }
}

@media screen and (max-width: 600px){
    div.dMother_div{
        width: 300px;

    }
    .box{
        border-style:solid;
        border-color: rgb(69, 169, 169);
        float: left;
        width: 200px;
        height: 90px;
        background-color: rgb(69, 169, 169);
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .box p{
        font-size: 15px;
        text-align: center;
        color: azure;
    }
}


