.fMother_div{
<<<<<<< HEAD
    width: 100%;
    min-height: 50px;
=======
    width: 100vw;
    height: 10vh;
    min-height: 42px;
>>>>>>> ngocanh-4
    background-color: rgb(38, 32, 42);
    display: flex;
    flex-direction: column;
}
.fMother_div p{
    font-size: 15px;
    color: azure;
    text-align: center;
}