.pMother_div{
    padding: 0%;
    margin: 0%;
    float: left;
    padding-left: 10px;
}

.taskbar{
    width: 100%;
    height: 35px;
    border-style:solid;
    border-color: rgb(240, 240, 240);
    background-color:  rgb(240, 240, 240);
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 5px;
}
.table{
    width: 50%;
    height: 250px;
    border-style:solid;
    border-color: rgb(240, 240, 240);
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.myForm label{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}
.myForm input{
    display: block;
    margin-left: 25px;
    margin-top: 10px;
    border-style:solid;
    border-color: rgb(240, 240, 240);
    background-color: white;
    border-radius: 5px;
    width: 80%;
    height: 25px;
}
.myForm button{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    width: 50px;
    height: 30px;
    color: azure;
    border-style:solid;
    border-color: rgb(240, 240, 240);
    background-color: rgb(0, 98, 245);
    border-radius: 5px;
}
.myForm button:hover{
    cursor: pointer;
    color:  rgb(0, 98, 245);
    border-style:solid;
    border-color:rgb(0, 98, 245);
    background-color: white;
    border-radius: 5px;
}
.tableLable{
    margin: 0%;
    padding: 0%;
    float: inherit;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: rgb(240, 240, 240);
}

@media screen and (min-width: 1501px){
    div.pMother_div{
        width: 1250px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1500px){
    div.pMother_div{
        width: 950px;
    }
    
}
@media screen and (max-width: 1200px) and (min-width: 901px){
    div.pMother_div{
        width: 650px;
    }
    
}

@media screen and (max-width: 900px) and (min-width : 601px){
    div.table{
        width: 100%;
    }
    div.pMother_div{
        width: 350px;
    }
    
}

@media screen and (max-width: 600px){
    div.pMother_div{
        width: 350px;
    }
    div.table{
        width: 100%;
    }
}
