.sMother_div{
    float: left;
    width: 200px;
    height: 100%;
    background-color:  rgb(38, 32, 42);
}
.sidebar_item{
    width: 200px;
    height: 70px;
    cursor: pointer;
}

.sidebar_item:hover a{
    color :  rgb(27, 174, 24);
}
.sidebar_item a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: azure;
    height: 70px;
    width: 200px;
}
.sidebar_item a i{
    width: 20px;
}